.option {
    display: inline-block;
    width: 30%;
    min-width: 300px;
    min-height: 275px;
    margin: 1%;
    padding: 25px;
    border: 1px solid #c3c3c3;
    vertical-align: top;
    position: relative;
}

.option.alt {
    background-color: #7985aa;
    color: white;
}
.option.selected {
    width: 500px;
    height: auto;
}