.pull-bottom {
    position: absolute;
    bottom: 0px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

hr.cut-out {
    border-style: dashed;
    border-bottom: none;
    border-color: #c3c3c3;
}
hr.no-line {
    border: none;
    height: 10px;
}

.clearfix {
    clear: both;
}