.warning {
    background-color: #ae3840;
    color: white;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}
.warning a {
    color: white;
}
.warning.hide {
    display: none;
}

strong.serious {
    color: #ae3840;
}
